
h1{
    padding: 5%;
}

input{
    text-align: center;
    font-size: 200% !important;
    text-transform: uppercase;
}

body {

    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    vertical-align: middle;
    background-image: url("bg2.jpg");
    color:black;
}

li{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}


input{
    padding: 10px;
}